.product__list-root{
  .product__list-wrapper{
    display: grid;
    align-items: flex-start;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));


    .product__img-container {
      width: 100%;
      aspect-ratio: 4 / 3; 
      overflow: hidden;
      background-color: #f9f9f9; 

      .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .product__info-container{
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}

.product__filter-cartbody{
  max-height: 300px;
  overflow-y: scroll;
}
.product__info-wrapper{
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.filter-toggle{
  background-color: $primary-light;
  border: 1px solid $primary;
  border-radius: 5px;
  width: fit-content;
  padding: 6px 12px 6px 12px;
  color: $primary;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  &:hover{
    background-color: $primary;
    color: $white;
  }
}




.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: white;
  z-index: 1000;
  transition: right 0.3s ease;
  overflow-y: auto;
}

.sidebar.open {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
