
#topnav {
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
  padding: 10px 0px;
  border-bottom: 1px solid $gray-200;
  background-color: $primary !important;


  .navbar-brand {
    position: relative;
    top: 15px;
  }
  .search-bar{
    width: 50%;
  }
  .navbar-nav {
    .nav-link {
      &.active {
        color: $primary !important;
        font-weight: 500 !important;
      }
      &:hover {
        color: $muted !important;
      }
    }
  }

  .navbar-toggler {
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }


  @media (max-width: 1500px) {
    #topnav {
      padding: 18px 0px;
    }

   
    .navbar-nav {
      .nav-link {
        font-size: 14px !important;
        padding-right: 0.6rem !important;
        padding-left: 0.6rem !important;
      }
    }
  }

  @media (max-width: 1300px) {
    .navbar-brand {
      img {
        width: 50px;
        height: 74px
      }
    }

    .navbar-nav {
      .nav-link {
        font-size: 12px !important;
      }
    }
  }

  .navbar-mobile {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
  }

  .navbar-mobile.closed {
    transform: translateX(-100%);
  }

  .mobile-nav-item {
    &:hover {
      color: $primary !important;
    }
  }

  .navbar-mobile {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    background-color: rgba(239, 251, 250, 0.7);
    backdrop-filter: blur(20px);

  }
  @media (max-width: 960px){
    padding-bottom: 6px;
    padding-top: 6px;
  }

  @media (min-width: 1200px) {
    .navbar-mobile {
      display: none !important;
    }
  }

  @media (max-width: 1199.95px) {
    .navbar-web {
      display: none !important;
    }

    .navbar-toggler {
      margin-left: auto;
    }
  }

  @media (max-width: 600px) {
    #topnav {
      padding: 10px 0px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;

    }
  }

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 260px;
  border-radius: 20px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $primary;
  color: $white;
  border-radius: 20px;

}


.basket-dropdown-menu {
  position: absolute;
  top: 20px; 
  right: 0;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000; 
  min-height: 200px;

  p {
    margin-bottom: 10px;
  }

  .basket-product-wrapper {
    max-height: 300px; 
    overflow-y: auto;
  }


  .quantity-controls{
    border: 1px solid $primary;
    border-radius: 5px;
    width: fit-content;
  }
  .basket-dropdown-buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 15px;
  }

  .product-price {
    color: #007bff;
    font-weight: 600;
  }
}

.basket-count {
  background-color: $white;
  color: $primary;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  top: -8px; 
  right: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid $primary;
}

.avatar {
  img {
    border-radius: 5px;
  }
}
